html,
body {
    position: relative;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    font-size: 18px;
    font-family: sans-serif;
}

#wrapper {
    margin: auto;
}

.container {
  width: auto;
  max-width: 960px;
}

/*
.navbar-default {
    background: #8EA19C;
}

.navbar-default .navbar-nav>li>a {
    text-decoration: none;
    color: #333333;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    color: #666666;
}

.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
    text-decoration: none;
}
*/
